.paper{
display: flex;
flex-direction: column;
color: blue;
}

.clean{
    color: white;
    background-color: red;
    
}
.buttons{
    margin-top: 20px;
    margin-left: -20px;
}

.field{
    margin-bottom: 20px !important ;
    background-color: whitesmoke;
}
.upload{
    margin-top: 40px;
}
.text{
    color: rgba(57, 57, 235, 0.87) !important;
    
}
.searchfield{
    display: flex;
justify-content: space-between;
}
.header__search {
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    background-color: #eef3f8;
    color: gray;
   
}