.side {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.header__search > input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}
.header__search {
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 30px;
  background-color: white;
  color: blue;
  padding-left: 10px;
}
.button {
  cursor: pointer;
  color: rgb(85, 85, 236);
  margin-left: 15px;
}

.withicon {
  padding: 10px;
  display: flex;
  color: rgb(85, 85, 236);
}
.withicon:hover {
  background-color: rgb(247, 236, 236);
  border-radius: 10px;
}
.Avatar {
  display: flex;
  padding: 10px;
  color: rgb(85, 85, 236);
}
.user {
  margin-left: 10px;
  margin-top: 10px;
}
