.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addActivity {
  display: flex;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.activityList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
