.bar {
    display: flex;
    justify-content: space-between;

}
.rightside{
    display: flex;
    justify-content: space-around;
}


.icons{
    display: flex;
    flex-direction: column;
}
.header__search {
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    background-color: white;
    color: blue;
    padding-left: 10px;   
    
}
.forum{
    display: flex;
 
}

.fields {
    display: flex; 
    flex: 0.2;
    flex-direction: column;
    
}

.forumList{
    flex: 0.6;
    padding: 10px;
}
.leftside{
    flex: 0.2;
    
    
}