.nav_img {
  width: 100px;
  object-fit: contain;
  margin-left: 20px;
  cursor: pointer;
}

.nav {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.navigation {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.screens {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 550;
  font-size: 12px;
  cursor: pointer;
  color: #373f41;
}

.signinButton {
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 0.2vw;

  margin-left: 5px;
  padding: 8px 12px;
  background-color: #0056d2;
  margin-right: 20px;
}
.signupButton {
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border-radius: 0.2vw;
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #fff;
  color: #0056d2;
  border: 1px solid #0056d2;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #373f41;
}
.footer{
width: 100%;
position: sticky;
}
.LandingPage{
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 60vh;
}
.paragraphe {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
  width: 600px;
  color: #040404;
}
.button {
  margin-right: 10px;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.2vw;
  font-size: 12px;
  padding: 10px 15px;
  background-color: #0056d2;
}
.button_learn {
  cursor: pointer;
  color: #0056d2;
  border: 1px solid #0056d2;
  padding: 10px 15px;

  outline: none;
  font-weight: 500;
  border-radius: 0.2vw;
  font-size: 12px;

  background-color: white;
}
.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
