.logo {
  position: fixed;
  left: 0;
  width: 100px;
  object-fit: contain;
  padding-left: 10px;
  cursor: pointer;
  top: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.or {
  color: #0056d2;
}
.infos {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 2px solid #a6cafd;
  gap: 20px;
  padding-right: 220px;
}

.update {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-left: 120px;
}

.icons {
  display: flex;
  gap: 20px;
}
.icon {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.linkedin {
  color: #0e76a8;
}
.github {
  color: #1d202d;
}
.twitter {
  color: #00acee;
}

.text_field {
  height: 30px;
}

.signup_grey {
  color: blue;
}
.signup_link:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.signup_link {
  color: black;
}
.tos {
  display: flex;
  flex-direction: row;
}

.imeg {
  width: 100px;
  border-radius: 50%;
}

.deletebtn {
  border: 2px solid red;
}

p {
  font-size: 11px;
  font-weight: 600;
}

.p {
  font-size: 15px;
}

span {
  font-size: 12px;
  font-weight: 400;
}
.title {
  color: #0056d2;
}
.divider {
  width: 100%;
}

.fullHeightCard {
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
  position: absolute;
}
.overlay {
  top: 40px;
  left: 20px;
  color: black;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.grid {
  display: "flex";
}
.details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.edit {
  float: right;
}
