.comment{
    background-color: white;
    padding: 15px;
    max-width: 80;
    margin: auto;
    margin-bottom: 30px;
    
}
.body{
    display: flex;
    justify-content: space-between;
}

.post__info{
 display: flex;
 flex-direction: column;
}
