.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    color: gray;
    margin-right: 10px;
}
.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 15px;
}
.inputOption> h4{
    margin-left: 5px;
}